In [ ]:
#Question
"""
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

1.*
2.'hello'
3.-87.8
4.-
5./
6.+
7.6

"""

#Ans:
    
"""
1.*       --> Mathematical Operator (Multiplication)
2.'hello' --> String
3.-87.8   --> Float
4.-       --> Mathematical Operator (Subtraction)
5./       --> Mathematical Operator (Division)
6.+       --> Mathematical Operator (Addition)
7.6       --> Integer
"""

In [ ]:
#Question
"""
2. What is the difference between string and variable?
"""

#Ans:

"""
-->String is Collection of Character which is enclosed in double qoutes eg:"Python"
-->Variable is set of charater or a charater holding a values is called a Variable eg: x=10 [Here x is Variable] 
"""

In [ ]:
#Question
"""
3.Describe three different data types.
"""
#Ans:
"""
1.Numerical:
    a.Int
    b.Float
    c.Complex
2.String
3.List
4.Dict
5.Set
6.Tuple
"""

In [ ]:
#Question
"""
4.What is an expression made up of? What do all expressions do?

"""

#Ans:
"""
An expression is a combination of operators and operands that is interpreted to produce some other value.


"""

In [ ]:
#Question
"""
5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
"""
#Ans:

"""
An expression is a statement that returns a value.
Statements represent an action or command e.g print statements, assignment statements.


"""

In [ ]:
#Question
"""
6. After running the following code, what does the variable bacon contain?
    bacon = 22
    bacon + 1

"""
#Ans:

"""
23
"""

In [2]:
bacon = 22
bacon + 1

23

In [ ]:
#Question

"""
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
"""
#Ans:

"""
both the terms return the same value
'spamspamspam'
"""

In [4]:
'spam' + 'spamspam'
#'spam' * 3

'spamspamspam'

In [ ]:
#Question
"""
8. Why is eggs a valid variable name while 100 is invalid?

"""

#Ans:
"""
As eggs is group of charater it  can be considered as a variable,where as 100 is interger data type 
it can not hold a value as itself holds a value of 100 

"""

In [ ]:
#Question
"""
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

"""

#Ans:
"""
int()
float()
str()

"""

In [ ]:
#Question
"""
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

"""

#Ans:
"""
The error is because as there is no match in data types while concating that is we are concating 
str + int the ablove expression will work if we concate by converting 99 to str(99)

"""

In [6]:
'I have eaten ' +str(99) + ' burritos.'

'I have eaten 99 burritos.'